Flask==2.3.3          # Pour créer l'application web
Flask-Cors==3.0.10    # Pour gérer les requêtes Cross-Origin Resource Sharing (CORS)
yt-dlp==2024.1.6      # Pour télécharger les vidéos de YouTube
